.weather_info{
    height:70%;
    width: 80%;
    /* background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px) saturate(130%);
    -webkit-backdrop-filter: blur(18px) saturate(130%); */
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    border-radius: 18px;
    margin-top:2rem;
    padding: 1rem 4vw;
    position:relative;
    overflow: hidden;
    color: white;
}

.weather_info::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.15),
        transparent 40%
    );

    pointer-events: none;
}
.weather_locations{
    height: 40px;
    width: 100%;
      display: flex;
    justify-content: space-between;

}
.weather_location_info{
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    height: 30px;
    width: auto;
    gap:0.3rem;
     background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px) saturate(130%); 
     -webkit-backdrop-filter: blur(18px) saturate(130%);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 0.5rem;
}
.weather_date_info{
    font-size: clamp(1.8rem,1.5vw,1vw);
    color: white;
}

.weather_temp{
    height:160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.weather_forcast_img{
    height:100%;
    width: 200px;
    margin-top: 2.5rem;
}

.weather_forcast_img img{
    height: 100%;
    object-fit: cover;
    transition: all 1s  ease-in-out 0.3;
}
.weather_temprature h2{
    font-size: clamp(16px,5vw,4.5vw);
    /* font-family: serif; */
    font-weight: 400;
}
.weather_card{
    height: 54%;
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
/*mobile responsive*/
@media (max-width:600px){
    .weather_info{
        width: 100%;
    }
    .weather_forcast_img{
        height: 80%;
        width: 200px;
    }
    .weather_temprature h2{
        font-size: 2.5rem;
        margin-top: 2rem;
    }
}