@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400..700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Script&family=Oswald:wght@200..700&family=Pinyon+Script&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tangerine:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,html{
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: rgba(0, 10, 20, 0.25);

    pointer-events: none;
}
.main{
    height: 100vh;
    width: 100%;
    padding: 1rem;
    background-image: url("./assets/ChatGPT\ Image\ Sep\ 28\,\ 2026\,\ 08_21_49\ AM.png");
    background-size: cover;
    overflow: hidden;
}